@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainView</title>
    <style type="text/css">
        div {
            display: inline-block;
            margin: 20px;
        }

        #tableBlock {
            width: auto;
        }

        #editBlock {
            display: none;
        }

        #createBlock {
            margin: 20px;
        }
    </style>
    <script type="text/javascript" src="/Scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            GetAllPhoneBooks();

            $("#editBook").click(function (event) {
                event.preventDefault();
                EditPhoneBook();
            });

            $("#addBook").click(function (event) {
                event.preventDefault();
                AddPhoneBook();
            });

        });

        function GetAllPhoneBooks() {
            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: 'https://localhost:44399/TS',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function AddPhoneBook() {
            var phoneBook = {
                Surname: $('#addSurname').val(),
                TelephoneNumber: $('#addPhone').val()
            };

            $.ajax({
                url: 'https://localhost:44399/TS',
                type: 'POST',
                data: JSON.stringify(phoneBook),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllPhoneBooks();
                    Clear();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function DeletePhoneBook(id) {
           $.ajax({
                url: 'https://localhost:44399/TS/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllPhoneBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function EditPhoneBook() {
            var book = {
                Id: $('#editId').val(),
                Surname: $('#editSurname').val(),
                TelephoneNumber: $('#editPhone').val()
            };

            $.ajax({
                url: 'https://localhost:44399/TS',
                type: 'PUT',
                data: JSON.stringify(book),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllPhoneBooks();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function WriteResponse(phoneBooks) {
            var strResult = "<p><h2>Contacts</h2></p><table><th>ID</th><th>Surname</th><th>Phone</th>";
            $.each(phoneBooks, function (index, book) {
                strResult += "<tr><td>" + book.Id + "</td><td> " + book.Surname + "</td><td>" +
                    book.TelephoneNumber + "</td>" +
                    "<td><b><u><a id='editItem' data-item='" + book.Id + "' onclick='EditItem(this);' >Edit</a></u></b></td>" +
                    "<td><b><u><a id='delItem' data-item='" + book.Id + "' onclick='DeleteItem(this);' >Delete</a></u></b></td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }

        function DeleteItem(el) {
            var id = $(el).attr('data-item');
            DeletePhoneBook(id);
        }

        function EditItem(el) {
            var id = $(el).attr('data-item');
            GetPhoneBook(id);
        }

        function Clear() {
            $("#addSurname").val("");
            $("#addPhone").val("");
        }

        function ShowPhoneBook(phoneBook) {
            if (phoneBook != null) {
                $("#createBlock").css('display', 'none');
                $("#editBlock").css('display', 'block');
                $("#editId").val(phoneBook.Id);
                $("#editSurname").val(phoneBook.Surname);
                $("#editPhone").val(phoneBook.TelephoneNumber);
            }
            else {
                alert("Xmmm, tu sho tvarish -_-");
            }
        }

        function GetPhoneBook(id) {
            $.ajax({
                url: 'https://localhost:44399/TS/' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    ShowPhoneBook(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
</head>
<body>
    <div id="tableBlock"></div>
<div id="editBlock">
    <p><h2>Edit</h2></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>Surname: </label></td><td><input type="text" id="editSurname" /></td></tr>
        <tr><td><label>Phone: </label></td><td><input type="number" id="editPhone" /></td></tr>
    </table>
    <button id="editBook">Save</button>
</div>
<br/>
    <div id="createBlock">
        <p><h2>Add new</h2></p>
        <table>
            <tr><td><label>Surname: </label></td><td><input type="text" id="addSurname" /></td></tr>
            <tr><td><label>Phone: </label></td><td><input type="number" id="addPhone" /></td></tr>
        </table>
        <button id="addBook">Save</button>
    </div>
</body>
</html>
