@{
    ViewBag.Title = "Add";
    Layout = null;
}

<form method="post" action="~/Home/AddSave">
    <input type="text" id="name" name="name" />
    <input type="text" id="phones" name="phones" />
    <input type="submit" value="Add" />
</form>
